################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenAI-ConsoleApp/bin/Debug/net8.0
/OpenAI-ConsoleApp/obj/Debug/net8.0/refint
/OpenAI-ConsoleApp/obj/Debug/net8.0/ref
/OpenAI-ConsoleApp/obj/Debug/net8.0/OpenAI-ConsoleApp.AssemblyInfo.cs
/OpenAI_ConsoleApp/.vs/OpenAI_ConsoleApp
/OpenAI_ConsoleApp/obj
/OpenAI_ConsoleApp/bin/Debug/net8.0
