################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/OpenAI_ConsoleApp/.vs
/OpenAI_ConsoleApp/bin/Debug/net8.0
/OpenAI_ConsoleApp/obj
